<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

      @font-face {
        font-family: 'Helvetica';
      }

      body {
        width: 80vw;
        height: 120vh;
        margin: auto;
        font-family: 'Helvetica';
        color: #48EB97;
      }

      #circular-logo{
        font-size: 3em;
        padding-top: 1rem;
      }

      #message-body{
        font-size: 1.5rem;
      }

    </style>
  </head>
  <body>
    <div id="circular-logo">
      CIRCULAR
    </div>
    <br/>
    <br/>
    <div id="message-body">
      <%= link_to "Click here", "http://localhost:3000/entities/email_confirmation?token=" + @confirmation_token %> to confirm your e-mail address. We'll review your submitted event once confirmed, and send you a follow up e-mail on approval with a link you can use to edit your event if necessary. You can respond to this e-mail with any questions.
    </div>
  </body>
</html>
