<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

      @font-face {
        font-family: 'Helvetica';
      }

      body {
        width: 80vw;
        height: 120vh;
        margin: auto;
        font-family: 'Helvetica';
        color: #48EB97;
      }

      #circular-logo{
        font-size: 3em;
        padding-top: 1rem;
      }

      #message-body{
        font-size: 1.5rem;
      }

    </style>
  </head>
  <body>
    <div id="circular-logo">
      CIRCULAR
    </div>
    <br/>
    <br/>
    <div id="message-body">
      This is a confirmation message that we've received your event submission. Your event will be reviewed by a moderator as soon as possible. You will receive an e-mail once your event has been reviewed, along with a link you will be able to use to edit the event if necessary. You can respond to this e-mail with any questions.
    </div>
  </body>
</html>
